body{
    font-family: sans-serif ;
    font-size: 16px;
    background-color: white;
    overflow-x: hidden;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FF505B;
    background-image: url(images/bg-pattern-intro.svg);
    
    background-size:350%;
    background-position:40% 50% ;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding:15% 4% 0 4%;
    border-radius: 0 0 0 20% ;
    
    
    
}
nav{
    width: 90%;
    height: 0;
    
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    text-align: center;
    
    display: none;
    
    background-color: white;
    z-index: 2;
    transition: 1s;
    
    
}
.logo {
    width: 50%;
}

.hamburger{
    width: 50%;
    text-align: right;
    

}
a{
    text-decoration: none;
    color: black;
    list-style: none;
}

header h1{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    padding: 15% 0 4% 0;
}
header p{
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    padding-bottom: 17%;
}
.buttons{
    position: relative;
    width: 100vw;
    height: 20vh;
}
button{
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 3% 5%;
    font-weight: 700;
    border-radius: 50px;

    
}
.start{
left:25%;
top:25%;
color:hsl(356, 100%, 66%);
background-color: #fff;
font-family: 'Ubuntu', sans-serif;
border: solid white 2px;

}
.learn{
    top:25%;
    left:75%;
    color:white;
    background-color: transparent;
    border: solid white 2px;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25%;
}
.section1 p{
    width: 100%;
    text-align: center;
    margin:5% 6%;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
.section1 img{
    overflow: hidden;
    width: 100%;
    
    
}
h2{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    z-index: 2;
}
.section2{
    background-color: hsl(237, 23%, 32%);
    border-radius: 0 50px 0 50px;
    background-image: url(images/bg-pattern-circles.svg);
    background-position-x: center;
    background-position-y: -35vh;
    background-repeat: no-repeat;
background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50%;
    position: relative;
    min-height: 50vh;
    
}
.section2 img{
width: 100%;
position: absolute;
left:0;
top:-35%;


}
.section2 h2,.section2 p{
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
.section2 h2{
    padding-top: 40%;
    font-weight: 700;
}
.section2 p{
    padding: 5% 20% 30% 20%;
}
.section2 .circle{
    width:90vw;
    height: 90vw;
    border-radius: 50%;
    position: absolute;
    background-color: hsl(237, 17%, 21%);
    
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,0);
    top:-23%

}
.section3
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;

}
.section3 img{
    width: 100%;
}
.section3 p{
    color: black;
    width: 100%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
footer{
    background-color: hsl(240, 10%, 16%);
    color: white;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0 100px 0 0;
}
footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    
    
    

}
footer li{
    width: 100%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 20px;
}
.bold
{
    font-weight: 700;
    
}
.secondUl{
    margin-bottom: 5%;
}
.active{
    display: block !important;
}
.active
li{
    list-style:none;
    
}
nav.active{
    min-height: 30vh;
    height: auto;
   border-radius: 10px; 
}
.circle1{
    background-color: white;
    z-index: 0;
    width:90vw;
    height: 90vw;
    border-radius: 50%;
    position: absolute;
    
    
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,0);
    top:-23%
}
.productMenu,
.companyMenu,
.connectMenu
{
    display: none;
    background-color: #ddd;
    margin: 3% 10%;
    border-radius: 10px; 
    
    
    

}
.sign{
    background-color: #FF505B;
    position: static;
    text-align: center;
    transform: translate(0,0);
    color: white;
    border: none;
    margin-bottom: 3%;
    
}
.login{
    border-top: 2px solid #ddd;
    margin: 0 10%;
}
nav ul li{
    padding: 3% 0;
}
.productArrow,
.companyArrow,
.connectArrow{
    margin-left: 2%;
}
.rotate{
    transform: rotate(180deg);
}
.productArrowDes,
.companyArrowDes,
.connectArrowDes{
    margin-left: 2%;
    display: none;
}
.DesktopImg{
    display: none;
}
/* Desktop */
/* header */
@media (min-width:1024px){
    header{
        
        padding:2% 4% 0 8%;
        height: 40%;
        max-height: 40%;
        
        
        
        
    }
    nav{
        
        text-align: center;
        display: flex;
        position: static;
        transition: 1s;
        height: 40%;
        background-color: transparent;
        width: 85%;
        left: auto;
        top: auto;
        transform: translate(0);
        
    
    } nav.navigation ul li{
        list-style: none;
        width: 15%;
        
    }
    .logo {
        width: 13%;
    }
    .hamburger{
        width: 0%;
        display: none;
        
    
    }
    nav ul{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        height: 0;
        
        
        
        
    }
    a{
        color: white;
    }
    .login{
        margin-left: 50%;
        margin-right: 0;
        border: none;
        padding-top: 3.7%;
    }
    .sign{
        background-color: white;
        color:#FF505B ;
        padding: 1vh 1vw;
    }
    header h1{
        
        padding: 10% 0 0% 0;
        width: 100%;
        font-size: 40px;
    }
    header p{
        
        font-weight: 300;
        width: 100%;
        padding: 3% 0 3% 0;
    }
    .buttons{   
        width: 40vw;
        height: 15vh;
        margin: auto;
    }
   
    
    .productArrow,
.companyArrow,
.connectArrow{
    display: none;
}
.productArrowDes,
.companyArrowDes,
.connectArrowDes{
    margin-left: 2%;
    display: inline-block;
}
  ul li ul li:hover
  {
      font-weight: 700;
  }
  .sign:hover{
      background-color:#FF6663 ;
      color: white;
  }
  .sign{
      cursor: pointer;
      transition: 0.2s;
  }
  .start:hover{
      background-color: #FF505B;
      color: white;
      border: none;
  }
  .start{
      cursor: pointer;
      transition: 0.2s;
  }
  .learn:hover{
      background-color: #fff;
      color:#FF6663
  }
  .learn{
      cursor: pointer;
      transition: 0.2s;
  }
  /* Sekcja1 */
  .section1{
    margin-top: -2%;
}
.section1 p{
    width: 100%;
    text-align: center;
    margin:4% 0%;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
.section1 img{
    overflow: hidden;
    width: 50%;
    right: -15%;
    top:70%;
    position: absolute;
    
    
    
}
.section1 h2{
    margin-top: 10%;
    margin-bottom: 9%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    z-index: 2;
}
.section1 .h2M{
    width: 100%;
    margin-top:5%;
    margin-bottom: -2%;
    font-size: 36px;
}
.mobileImg{
    display: none;
}
.DesktopImg{
    display: block;
    
    
    
}
.h2Content
{
    width: 50%;
    padding:5%;
}
.section2{
    background-position-x: -5vw;
    background-position-y: -35vh;
background-size: 50%;
    margin-top: 10%;
    position: relative;
    max-height: 50vh;
    
}
.section2 img{
width: 30%;
position: absolute;
left:5%;
top:-10%;
}
.section2 h2,.section2 p{
    width: 50%;
    margin-left: 50%;
    margin-bottom: 20%;

}
.section2 h2{
    padding-top:0;
    margin-top: 5%;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 5%;
    font-size: 36px;
    
    
}
.section2 p{
    padding: 0% 2% 0 2%;
}
.section2 .circle{
    width:20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
    background-color: hsl(237, 17%, 21%);
    
    overflow: hidden;
    left: 20%;
    
    top:-10%

}
.contentSection2{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.section3
{
    
  margin-top: 3%;
    margin-bottom: 10%;

}
.section3 img{
    width: 50%;
}
.section3 p{
    width: 100%;
    padding: 0 0%;
    text-align: left;
    
}
.section3 h2{
    width: 100%;
    text-align: center;
    text-align: left;
}
.contentSection3{
    width: 50%;
    margin-left: 50%;
}
.s3I{
    position: absolute;
    left: -14%;
}
footer{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0 100px 0 0;
}
footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    list-style: none;
    
    
    
    

}
footer li{
    width: 100%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 20px;
    cursor: pointer;
}
.bold{
    width: 25%;
    margin-top: 1%;
}
.secondUl{
    margin-top: 2%;
}

}

